*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
    
}
html, body{
    color:black;
    
}
span{
    color:#1ac056;
    font-size: 400;
}

/*style do menu początek*/
#menu>ul>li>a{
    text-decoration: none;
    list-style-type: none;
    margin: 25px;
    color:#1ac056;

}

#menu>ul>li{
    list-style-type: none;
    display: inline-block;
    
}
#menu>ul{
   text-align: right;

}
#menu{
     background-color: white;
}

#menu #drop, #menu .toggle{
   display: none; 
}
/*style do menu koniec*/

/*style do nagłówka początek*/
#main-header{
    background-image: url("../img/header-background.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
    position: relative;
    width: 100%;

}

#main-header > #header-content{
    position: absolute;
    color: white;
    
    top: 50%;
    transform: translateY(-50%);
        
    left: 0;
    right: 0;
    margin: auto;
    
    width: 50%;
    text-align: center;
}

#main-header > #header-content > h1{
    font-size: 4em;
    font-weight: 300;
}

#main-header > #header-content > h2{
    font-size: 2em;
    font-weight: 100;
}

   


/*style do nagłówka koniec*/
.col-1-2{
    width: 50%;
    float: left;
}
/*style do sekcji o mnie poczatek*/

section{
    padding: 30px 60px ;
}

#about {
    background-color: #f9fcfe;
    overflow: auto;
    color: black;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75); 
}
#about figure{
    margin:0;
    text-align: center;
}
#about img{
    width: 100%;
    max-width: 350px;
    border: 20px solid white;
    border-radius: 10px;
}
section >h2{
    text-align: center;
    color: black;
}


/*style do sekcji o mnie koniec*/


/*style do sekcji umiejetnosci poczatek*/
#skills p{
    text-align: center;
}

#skills #skills-icons{
    text-align: center;
}
   

#skills figure{
    display: inline-block;
}
#skills figure img{
    margin-bottom: 10px;
}
    

/*style do sekcji umiejetnosci koniec*/

/*style do sekcji portfolio poczatek*/
#portfolio .portfolio-item{
    height: 350px;
    width: auto;
    color: white;
    text-align: center;
}

#portfolio-item-1{
    background-image: url("../img/portfolio1.jpg");
}
#portfolio-item-2{
    background-image: url("../img/portfolio2.jpg");
}
#portfolio-item-3{
    background-image: url("../img/portfolio4.jpg");
}
#portfolio #portfolio-items{
    font-size: 0;
}
#portfolio .portfolio-item{
    height: 350px;
    width: 33.33333%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    font-size: initial;
}
#portfolio .portfolio-item .portfolio-item-mask{
  height: 100%;
    width: 100%;
    background-color: rgba(42,61,79, 0.8);
    position: absolute;
    opacity: 0;
    transition: all 0.3s;
}
#portfolio .portfolio-item .portfolio-item-mask:hover{
 opacity: 1;
}

#portfolio .portfolio-item .portfolio-item-mask .portfolio-item-content{
    border: 1px #fff solid;
    width: 95%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -50%);
}

#portfolio .portfolio-item .portfolio-item-mask .portfolio-item-content .portfolio-item-content-inner{
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#portfolio .portfolio-item .portfolio-item-mask .portfolio-item-content .portfolio-item-content-inner a{
   color: white;
}


/*style do sekcji portfolio koniec*/

/* style do sekcja konntakt poczatek*/
/*
#kontakt{
   background-color: #213b50; 
    color: white;
    height: 300px;
}
   
#kontakt h2{
    text-align: left;
}
adress{
    width:50%;
    margin:0;
    float: left;
}
#podkreslony{
    text-decoration: underline;
}
#ikony{
    margin-top: 30px;
}
#ikony i{
    width: 25px;
    margin-right: 20px;
    color: #213b50;
    background-color: white;
   
}

    
}
#form{
    width: 400px;
    float: right;
    padding-top: 50px;
}
input[type="text"],input[type="email"], textarea{
    width: 400px;
    padding-top: 10px;
    line-height: 25px;
    background-color: #2b4a64;
    border: 0;
    margin: 5px 0;
   
}

input[type="submit"]{
    text-align: center;
    float: right;
    background-color: chartreuse;
    border: 0;
    width: 75px;
    height: 35px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
textarea{
    height: 50px;
}
*/
/* style do sekcja kontakt koniec*/



/*wersja od Łukasza*/
#contact{
background-color:#213b50;
color: white;
overflow: hidden;


}

#contact h2 {
text-align:left;
}

#contact address{
font-style: normal;
margin: 50px 0;

}

#contact address a {
color:#1ac056;
text-decoration:none;
}

#contact address a:hover{
text-decoration:underline;
}

#contact .social-icons{

}

#contact .social-icons a {
display:inline-block;
height:50px;
width:50px;
border: 1px white solid;
color: white;
line-height: 50px;
text-align: center;
font-size: 12px;
margin-right: 15px;
}

#contact .social-icons a:hover{
color:#213b50;
background-color:#fff;
}

#contact form input,#contact form textarea {
width: 100%;
background-color:#2b4a64;
border:#2b4a64;
padding: 15px;
margin-bottom: 10px;
color:#fff;
}

#contact form input:focus,#contact form textarea:focus {

background-color:#4a6a86;

}
#contact form input[type="submit"]{
background-color:#1ac056;
border#1ac056 1px solid;
color:#fff;
text-transform: uppercase;
width:auto;
float: right;
}

#contact form input[type="submit"]:hover{
background-color:#fff;
color:#1ac056;
cursor:pointer;

}

/*wersja od Łukasza koniec*/

footer{
    background-color: #142634;
    color: white;
    padding: 5px 60px;
}

footer p {
    margin:0;
}
 
